/* public-sans-regular - latin */
@font-face {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/public-sans-v5-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/public-sans-v5-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* public-sans-700 - latin */
@font-face {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("../fonts/public-sans-v5-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/public-sans-v5-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* public-sans-700italic - latin */
@font-face {
	font-family: "Public Sans";
	font-style: italic;
	font-weight: 700;
	src: local(""),
		url("../fonts/public-sans-v5-latin-700italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/public-sans-v5-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibarra-real-nova-regular - latin */
@font-face {
	font-family: "Ibarra Real Nova";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/ibarra-real-nova-v8-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/ibarra-real-nova-v8-latin-regular.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibarra-real-nova-700 - latin */
@font-face {
	font-family: "Ibarra Real Nova";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("../fonts/ibarra-real-nova-v8-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/ibarra-real-nova-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*General*/
:root {
	--primary: #5fb4a2;
	--font-color: #33323d;
	--btn-primary: #203a4c;
	--btn-secondary: #000000;
	--body-bg: #fafafa;
}

body {
	font-family: "Public Sans", sans-serif;
	font-size: 1.6rem;
	line-height: 1.5rem;
    color: var(--font-color);
	background-color: var(--body-bg);
}

h1,
h2,
h3 {
	font-family: "Ibarra Real Nova", serif;
}

h1,
h2 {
	font-weight: 700;
}

h1 {
	font-size: 5rem;
	line-height: 1;
}

h2 {
	font-size: 4rem;
	line-height: 1.1;
	margin-bottom: 2.5rem;
}

h3 {
	font-size: 3.2rem;
	line-height: 1.1;
}

p {
	font-size: 1.6rem;
	line-height: 1.8;
	margin-bottom: 1.8rem;
}

a {
    display: block;
    text-decoration: none;
    color: currentColor;
}

/*Layout*/
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3.2rem;
	padding-right: 3.2rem;
}

@media screen and (min-width: 36em) {
	.container {
		max-width: 48.6rem;
	}
}

@media screen and (min-width: 48em) {
	.container {
		max-width: 67.8rem;
	}
}

@media screen and (min-width: 62em) {
	.container {
		max-width: 90.2rem;
	}
}

@media screen and (min-width: 75em) {
	.container {
		max-width: 111rem;
	}
}

/*Composants*/
.cta-primary {
	min-width: 2rem;
	background-color: var(--btn-primary);
	border: none;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	transition: .3s;
	padding-block: 0;
}

.cta-primary img {
	display: inline-block;
	background-color: rgba(0,0,0,.1);
	padding: 1.6rem;
}

.cta-primary span {
	display: inline-block;
	padding: 1.6rem 3.2rem;
	font-size: 1.2rem;
	color: #fff;
	text-transform: uppercase;
}

.cta-primary:hover {
	background-color: var(--primary);
}

.cta-secondary {
	max-width: max-content;
	padding: 1.7rem 3.3rem;
	border: .1rem solid var(--font-color);
	color: var(--font-color);
	font-size: 1.2rem;
	text-transform: uppercase;
	transition: .3s;
}

.cta-secondary:hover {
	color: #fff;
	background-color: var(--font-color);
}

/*Header*/

.main-header .container {
    position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
}

.menu-btn {
	position: relative;
	height: 1.3rem;
    width: 2.4rem;
}

.menu-closed {
    border-top: .1rem solid var(--font-color);
    border-bottom: .1rem solid var(--font-color);
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding: .6rem 0;
	transition: .3s;
}

.menu-closed::before {
    position: absolute;
    content: "";
    height: .1rem;
    width: 100%;
    background-color: var(--font-color);
    left: 0;
    top: 50%;
	transition: border-width .3s .2s;
}

.menu-closed::after {
    position: absolute;
    content: "";
    height: .1rem;
    width: 100%;
    background-color: var(--font-color);
    left: 0;
    top: 50%;
	transition: .3s;
}

.menu-open {
	border-top: 0rem solid var(--font-color);
    border-bottom: 0rem solid var(--font-color);
	padding-left: 0;
	padding-right: 0;
	border: none;
	background-color: transparent;
	transition: border-width .3s .3s;
}

.menu-open::before {
	position: absolute;
    content: "";
    height: .1rem;
    width: 100%;
    background-color: var(--font-color);
    left: 0;
	top: 0;
	transform: rotate(45deg);
	transition: .3s;
}

.menu-open::after {
	position: absolute;
    content: "";
    height: .1rem;
    width: 100%;
    background-color: var(--font-color);
    left: 0;
	top: 0;
	transform: rotate(-45deg);
	transition: .3s;
}

.menu-closed:hover{
	border-color: var(--primary);
}

.menu-closed:hover::before, .menu-closed:hover::after {
	background-color: var(--primary);
}

.menu-open:hover::before, .menu-open:hover::after {
	background-color: var(--primary);
}

ul.menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--font-color);
    color: #fff;
    text-align: center;
	z-index: 2;
}

.menu-link {
    padding: 1.6rem 6rem;
    font-size: 1.2rem;
    text-transform: uppercase;
	transition: .3s;
}

.menu-item:first-of-type .menu-link {
	padding-top: 4rem;
}

.menu-item:last-of-type  .menu-link{
	padding-bottom: 4rem;
}

.menu-link:hover,
.menu-link:focus {
	color: var(--font-color);
	background-color: #fff;
}

@media screen and (min-width: 48em) {
	[hidden] {
		display: flex;
	}

	.menu-btn {
		display: none;
	}

	ul.menu-list {
		position: relative;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		color: var(--font-color);
		text-align: center;
	}

	.menu-link {
		margin-left: 4.2rem;
		padding: .9rem;
		font-size: 1.2rem;
		text-transform: uppercase;
		transition: .3s;
	}

	.menu-item:first-of-type .menu-link {
		padding-top: .9rem;
	}
	
	.menu-item:last-of-type  .menu-link{
		padding-bottom: .9rem;
		padding-right: 0;
	}

	.menu-link:hover,
	.menu-link:focus {
		color: var(--primary);
		background-color: transparent;
	}
}

/*Hero*/
.hero {
	margin-bottom: 9.6rem;
}

.hero .container {
	position: relative;
}

.hero-img {
	object-fit: cover; 
	object-position: center center;
	min-height: 27.1rem;
	margin-bottom: 2.8rem;
}

.hero-content h1 {
	font-size: 4rem;
	margin-bottom: 2rem;
}

@media screen and (min-width: 48em) {
	.hero-img {
		object-position: 50% 50%;
		min-height: 60rem;
	}

	.hero-content {
		position: absolute;
		padding: inherit;
		left: 0;
		bottom: 0;
		max-width: 80%;
		padding-top: 6rem;
		padding-right: 5.6rem;
		background-color: var(--body-bg);
	}

	.hero-content h1 {
		margin-bottom: 3.6rem;
	}
}

@media screen and (min-width: 75em) {
	.hero-content {
		max-width: 40%;
	}
}

/*About*/
.about-me .container {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 3.2rem;
	margin-bottom: 11.9rem;
}

.about-content {
	padding-top: 3.7rem;
	padding-bottom: 5.2rem;
	border-top: .1rem solid rgba(51,50,61, .15);
	border-bottom: .1rem solid rgba(51,50,61, .15);
}

@media screen and (min-width: 48em) {
	.about-me .container {
		grid-template-columns: auto auto;
		column-gap: 7rem;
	}

	.about-img {
		height: 100%;
		object-fit: cover;
		object-position: right center;
	}
}

@media screen and (min-width: 75em) {
	.about-me .container {
		grid-template-columns: 60% auto;
		column-gap: 12.5rem;
	}
}

/*Contact me*/
.contact-me {
	text-align: center;
	margin-bottom: 8rem;
}

.contact-title {
	margin-bottom: 2.8rem;
	max-width: max-content;
}

.contact-divider {
	display: none;
}

.contact-link {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 48em) {
	.contact-me {
		text-align: left;
	}

	.contact-me .container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.contact-title {
		max-width: 35rem;
		margin-bottom: 0;
		justify-self: start;
	}

	.contact-divider {
		flex-grow: 1;
		display: block;
		background-color: rgba(51,50,61, .15);
		height: .1rem;
		margin: 0 3.2rem;
		justify-self: center;
	}

	.contact-link {
		justify-self: end;
		width: 16.2rem;
		margin-left: 0;
		margin-right: 0;
	}
}

/*Footer*/
